<!doctype html>
<html>
<meta charset="utf-8">
<title>Sochi</title>
<link rel="stylesheet" href="sochi.css"></link>
<meta name="viewport" content="width=device-width">

<nav id="nav"></nav>

<script type="text/template" id="template-meny">
<a id="meny"
   class="{{#apen}}meny--apen{{/apen}}"
   on-click="vis"></a>
  &nbsp;
  {{#apen}}
    <ul class="meny-liste">
      <li><a href="index.html"><span class="meny-ikon meny-ikon--pallen"></span> Pallen</a></li>
      <li><a href="topplisten.html"><span class="meny-ikon meny-ikon--topplisten"></span> Topplisten</a></li>
      <li><a href="dagslisten.html"><span class="meny-ikon meny-ikon--topplisten"></span> Dagslisten</a></li>
      <li><a href="dagens-gjetting.html"><span class="meny-ikon meny-ikon--dagens-gjetting"></span> Dagens gjetting</a></li>
    </ul>
  {{/apen}}
</script>

<script src="ractive.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.1.0/snap.svg-min.js"></script>

<script>
$ = function (id) {
  return document.getElementById(id);
};
function error () {
  alert('Logg inn med google-kontoen din!');
}
</script>

<script src="ol-ringer.js"></script>
<script src="toppliste-sortert.js"></script>
<script src="dagsliste-sortert.js"></script>
<script src="resultater.js"></script>
<script src="meny.js"></script>

<%- yield %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45118411-2', 'wa.gd');
  ga('send', 'pageview');
</script>
