<div id="dagens-gjetting"></div>

<script type="text/template" id="template-dagens-gjetting">
  <h2>{{dato}}</h2>

  <select value="{{valgtNavn}}">
    <option selected disabled>
      Velg navn
    </option>
    {{#navn}}
      <option value="{{.}}">{{.}}</option>
    {{/navn}}
  </select>

  {{#valgtNavn}}
  <table>
    {{#valg}}
      <tr>
        <td>{{ovelse}}</td>
        <td class="score">{{tippet}} ({{poeng}})</td>
      </tr>
    {{/valg}}
  </table>
  {{/valgtNavn}}
</script>

<script src="side-dagens-gjetting.js"></script>

<script
  onerror="error"
  src="https://spreadsheets.google.com/feeds/cells/0Atb2K1aYEre6dEFpTlRCenI3WEFUcl9KMWVkb0l1Qmc/odb/public/basic?alt=json-in-script&callback=fikkResultater"></script>
