@import "fonts";

@farge-sochi-lys: rgba(184, 4, 128, 1);
@farge-sochi: rgba(150, 9, 120, 1);
@farge-sochi-mork: rgba(95, 9, 84, 1);
@farge-tekst: white;

* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  background-color: @farge-sochi;
  color: @farge-tekst;
  font-family: Georgia;
  font-size: 100%;
  text-transform: uppercase;
}

nav {
  position: absolute;
  top: 0;
  left: 0.5em;
  right: 0.5em;
  z-index: 1;
  display: block;

  padding-bottom: 1em;
}

#meny {
  padding: 1em 0.5em;
  float: right;

  .fa-icon(@fa-var-bars);
  text-decoration: none;
  cursor: pointer;
  color: @farge-sochi-mork;

  &:hover {
    color: @farge-sochi-lys;
  }

  &.meny--apen {
    color: @farge-tekst;
  }
}

.meny-liste {
  margin-top: 2em;
  background-color: @farge-tekst;
  padding: 1em;
}

a,
a:visited {
  display: block;
  padding: 1em;
  color: @farge-sochi-mork;
  text-decoration: none;
}

a:hover {
  color: @farge-sochi-lys;
}

#ol-ringer {
  display: block;
  margin: 1em auto 0;
  width: 294px;
}

.score {
  font-family: Georgia;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  color: @farge-sochi-mork;
}

@import "side-index";
@import "side-topplisten";
